*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    background-color: #e6f0ff;
}
.home-screen{
    width: 90%;
    max-width: 500px;
    padding: 40px 30px;
    border-radius: 24px;
    text-align: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
    animation: fadeIn 0.5s ease;
}
.levels-screen{

    display: none;

    width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #e6f0ff;
}
.home-screen h1{
    font-size: 42px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(255,255,255,0.2);
}
.home-screen p{
    color: #cbd5e1;
    margin-bottom: 25px;
    font-size: 16px;
}

.level-btn{
    width: 140px;
    height: 70px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(145deg, #334155, #1e293b);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.level-btn:hover{
    transform: translateY(-5px) scale(1.05);
    background: linear-gradient(145deg, #dc2626, #7f1d1d);
    box-shadow: 0 15px 35px rgba(220,38,38,0.4);
}

.level-selection{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}


.quiz-container {
  width: 90%;
  max-width: 420px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  animation: fadeIn 0.5s ease-in-out;
  border: 1px solid rgba(0,0,0,0.05);
  display: none;
  color: white;
 background: linear-gradient(135deg, #7f3a0a, #f87e32,#fdbe66);
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.quiz-container h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
    color: #1d4ed8; 
   
    letter-spacing: 1px;
   
}
#back-btn{
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 3px solid rgba(15, 5, 5, 0.6);
    border-radius: 6px;
    background: rgb(203, 2, 42);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#back-btn:hover{
    background: rgb(149, 1, 1);
}
.tagline{
    text-align: center;
    color: gray;
    margin-bottom: 25px;
}
#question{
    margin-bottom: 20px;
}
.options{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.option-btn{
    width: 100%;
    padding: 15px;
    margin: 7px 0;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
}
.option-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(76, 77, 80, 0.4);
}
.button-group{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
#previous-btn{
    flex: 1;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(135deg, #64748b, #334155);
}

#next-btn{
    flex: 1;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(135deg, #20e4fa, #5a7266);
}
#skip-btn:hover,#next-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(100,116,139,0.4);
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: rgba(0,0,0,0.45);

    backdrop-filter: blur(6px);

    justify-content: center;

    align-items: center;

    z-index: 1000;
    /* background: rgba(33, 32, 32, 0.6);
    justify-content: center;
    align-items: center; */
}


.popup.show {
    display: flex;
}
.popup-box {
    background: linear-gradient(145deg, #1e293b, #0f172a);
    color: white;
    padding: 25px 20px;
    border-radius: 16px;
    text-align: center;
    width: 300px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    animation: popIn 0.2s ease-in-out;

}
@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.okbutton{
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: crimson;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.okbutton:hover{
    background: darkred;
}
.section-selection{

    display: none;

    justify-content: center;

    flex-wrap: wrap;

    gap: 20px;
}

 .section-btn{

    width: 90px;

    height: 90px;

    border-radius: 50%;

    border: 2px solid rgba(255,255,255,0.15);

    background: linear-gradient(145deg, #334155, #1e293b);

    color: white;

    cursor: pointer;

    font-weight: bold;

    font-size: 14px;

    transition: all 0.3s ease;

    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.section-btn:hover{

    transform: scale(1.05);

    background: darkred;
}
.section-container{

    display: none;

    width: 90%;

    max-width: 650px;

    padding: 35px;

    border-radius: 24px;

    background: linear-gradient(135deg, #0f172a, #1e293b);

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);

    /* text-align: center; */

    color: white;

    animation: fadeIn 0.4s ease;
}
.section-container h2{
    text-align: center;

    margin-bottom: 30px;

    font-size: 32px;

    /* letter-spacing: 1px; */
}
.section-btn{

    width: 80px;

    height: 80px;

    border-radius: 50%;

    border: none;

    background: #334155;

    color: white;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;
}
.section-btn:hover{

    transform: translateY(-5px) scale(1.08);

    background: linear-gradient(145deg, #dc2626, #7f1d1d);

    box-shadow: 0 15px 30px rgba(220,38,38,0.4);
}

#section-back-btn{
    display: block;

    margin-bottom: 20px;

    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    background: crimson;

    color: white;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;
}

#section-back-btn:hover{

    transform: scale(1.05);

    background: darkred;
}
#section-back-btn{
 background: crimson;

}
#section-back-btn:hover{
   background: brown;
}
.section-btn.completed{

    background: linear-gradient(145deg, #16a34a, #166534);

    border: 2px solid #4ade80;

    color: white;
}
@media (max-width: 600px){

    .home-screen{
        width: 95%;
        padding: 25px 15px;
    }

    .level-btn{
        width: 45%;
        height: 60px;
        font-size: 14px;
    }

    .option-btn{
        font-size: 14px;
        padding: 12px;
    }

    .quiz-container{
        padding: 20px;
    }
}

/* LANDING PAGE */

.landing-page{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

/* LEFT SIDE */

.hero-section{
    width: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #020617;
}

/* ANIMATED BACKGROUND */

.animated-bg{
    position: absolute;
    width: 200%;
    height: 200%;

    background:
    radial-gradient(circle at center,
    rgba(59,130,246,0.3),
    transparent 20%),

    radial-gradient(circle at top left,
    rgba(236,72,153,0.3),
    transparent 25%),

    radial-gradient(circle at bottom right,
    rgba(34,197,94,0.25),
    transparent 25%);

    animation: moveBg 15s linear infinite;
}

@keyframes moveBg{

    0%{
        transform: translate(0,0) rotate(0deg);
    }

    50%{
        transform: translate(-10%, -10%) rotate(180deg);
    }

    100%{
        transform: translate(0,0) rotate(360deg);
    }
}

/* FLASHQUIZZ TEXT */

.hero-content{
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 80px;
    letter-spacing: 4px;
    text-transform: uppercase;

    background: linear-gradient(90deg,
    #38bdf8,
    #818cf8,
    #f472b6);

     background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    animation: glow 3s ease-in-out infinite alternate;
}

.hero-content p{
    margin-top: 15px;
    font-size: 20px;
    color: #cbd5e1;
    letter-spacing: 1px;
}

@keyframes glow{

    from{
        text-shadow: 0 0 10px rgba(255,255,255,0.2);
    }

    to{
        text-shadow: 0 0 30px rgba(255,255,255,0.5);
    }
}

/* RIGHT SIDEBAR */

.sidebar-menu{
    width: 25%;
    background: linear-gradient(180deg,
    #0f172a,
    #1e293b);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;

    padding: 20px;

    box-shadow: -10px 0 30px rgba(0,0,0,0.4);
}

.menu-btn{
    width: 85%;
    padding: 18px;

    border: none;
    border-radius: 16px;

    background: rgba(255,255,255,0.08);

    color: white;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    backdrop-filter: blur(8px);

    border: 1px solid rgba(255,255,255,0.08);
}

.menu-btn:hover{
    transform: translateX(-8px) scale(1.03);

    background: linear-gradient(135deg,
    #2563eb,
    #7c3aed);

    box-shadow: 0 10px 30px rgba(37,99,235,0.4);
}

.play-btn{
    background: linear-gradient(135deg,
    #dc2626,
    #ea580c);
}

.play-btn:hover{
    background: linear-gradient(135deg,
    #ef4444,
    #f97316);
}

/* MOBILE RESPONSIVE */

@media(max-width: 768px){

    .landing-page{
        flex-direction: column;
    }

    .hero-section{
        width: 100%;
        height: 55vh;
    }

    .sidebar-menu{
        width: 100%;
        height: 45vh;

        display: grid;
        grid-template-columns: repeat(2,1fr);

        gap: 15px;

        padding: 20px;
    }

    .menu-btn{
        width: 100%;
        font-size: 15px;
        padding: 16px;
    }

    .hero-content h1{
        font-size: 48px;
    }

    .hero-content p{
        font-size: 15px;
    }
}
.section-container{
    z-index: 10;
}

.quiz-container{
    z-index: 10;
}

.levels-screen{
    min-height: 100vh;

    display: none;

    justify-content: center;

    align-items: center;

    flex-direction: column;
}

.section-container{
    display: none;

    width: 90%;
    max-width: 650px;

    margin: 80px auto;

    position: relative;
}

.quiz-container{
    display: none;

    width: 90%;
    max-width: 420px;

    margin: 60px auto;
}
#levels-home-btn{
    position: absolute;

    top: 20px;

    left: 20px;

    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    background: crimson;

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

#levels-home-btn:hover{
    background: darkred;

    transform: scale(1.05);
}
#previous-btn{
    /* margin-bottom: 20px; */

    /* margin-left: 10px; */

    padding: 10px 15px;

    border: 3px solid rgba(15, 5, 5, 0.6);

    border-radius: 6px;

    background: #2563eb;

    color: white;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;
}

#previous-btn:hover{
    background: #1d4ed8;
}
.button-group{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

#next-btn,
#previous-btn{
    flex: 1;
}
